* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  min-height: 100%;
}

body {
  overflow-x: hidden;
  color: #000 !important;
  background-color: #f1f2f6 !important;
  direction: rtl;
}

.f-w-bold {
  font-weight: bold;
}

.f-w-regular {
  font-weight: 300;
}

.fs-56 {
  font-size: 56px;
}

.fs-12{
    font-size: 12px;
}

.fs-16 {
  font-size: 16px;
}

.mt-32 {
  margin-top: 32px;
}


.gap-14{
    gap: 14px;
}


// TExt color

.text-321D5D{
    color:#321D5D;
}


.main-button {
  background-color: #492d7e;
  outline: none;
  border-radius: 40px;
  border: 0;
  color: #fff;
  height: 38px;
  padding-left: 36px;
  padding-right: 36px;

  &:hover {
    background-color: #492d7e;
    outline: none;
    border-radius: 40px;
    border: 0;
    color: #fff;
  }
}
