* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  min-height: 100%;
}

body {
  overflow-x: hidden;
  color: #000 !important;
  background-color: #f1f2f6 !important;
  direction: rtl;
}

.f-w-bold {
  font-weight: bold;
}

.f-w-regular {
  font-weight: 300;
}


.f-w-medium{
  font-weight: 500;
}
.fs-56 {
  font-size: 56px;

  @media (max-width:768px) {
    font-size: 33px;
  }
}

.fs-12{
    font-size: 12px;
}



.fs-14{
  font-size: 14px;
}


.fs-16 {
  font-size: 16px;
}

.fs-24{
  font-size: 24px;
}

.mt-32 {
  margin-top: 32px;
}


.gap-14{
    gap: 14px;
}


.gap-6{
  gap: 6px;
}



.cursor-p{
  cursor: pointer;
}

// TExt color

.text-321D5D{
    color:#321D5D;
}


.text-97939F{
  color: #97939F;
}

.main-button {
  background-color: #492d7e;
  outline: none;
  border-radius: 40px;
  border: 0;
  color: #fff;
  height: 38px;
  padding-left: 36px;
  padding-right: 36px;

  &:hover {
    background-color: #492d7e;
    outline: none;
    border-radius: 40px;
    border: 0;
    color: #fff;
  }
}


.dark-button{
  height: 40px;
  background-color: #290C5E;
  color: #fff;
  padding: 0 16px;
  border-radius: 10px;
  border: 0;


  &:hover {
    background-color: #290C5E;
    outline: none;
    border-radius: 10px;
    border: 0;
    color: #fff;
  }
}